@{
    ViewBag.Title = "Home Page";
}
@model OnlineQuizApp.Models.SessionQuiz

<div class="jumbotron">
    <h2><span style="color:coral;"><i>Online</i></span> Quiz Program</h2>
</div>

<br /><br />
@using(Html.BeginForm("Instruction", "Home", FormMethod.Post))
{
<div class="container">
    <div class="row form-horizontal">
        <div class="form-group">
            <div class="col-md-3">@Html.Label("Select Quiz")</div>
            <div class="col-md-5">
                @Html.DropDownListFor(x => x.quizName, new SelectList(ViewBag.Tests), "-- Select Quiz --", new { @class="form-control"} )
                <!--
                <select class="form-control">
                    <option value="Empty">-- Select Quiz --</option>
                    <option value="Computer Science">Computer Science</option>
                </select>
                    -->
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">@Html.Label("Enter Name")</div>
            <div class="col-md-5">@Html.TextBoxFor(x => x.userName, Model.userName, new { @class="form-control" } )</div>
        </div>
        <div class="form-group">
            <div class="col-md-3">@Html.Label("Enter Email")</div>
            <div class="col-md-5">@Html.TextBoxFor(x => x.email, Model.email, new { @class="form-control" } )</div>
        </div>
        <!-- Submit Button -->
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
}