@model OnlineQuizApp.Models.QuizResponse


@{
    var qTotal = 10;
    var endTime = ((DateTime)Session["QuizTimeExpire"]);
    var timeRemain = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds.ToString("#");
}

<h1><span style="color:coral;"><i>Quiz</i></span> Progress</h1>
<div>Remaining Time: <span id="minLeft"></span>:<span id="secLeft"></span></div>

@using (Html.BeginForm("RecordAnswer", "Home", FormMethod.Post, new { @id = "form" }))
{
    <input type="hidden" name="Direction" value="forward" />
    <input type="hidden" name="Token" value="@(Session["TOKEN"])" />
    <input type="hidden" name="qNum" value="@(ViewBag.qNum)" />

    <div class="row">
        <div class="col-md-10">
            <table>
                <tr>
                    <!--  <td><a href="javascript:void(0);" class="btn btn-primary" onclick="saveBackward(this);"><< Save . Previous</a></td>  -->
                    <td><a href="@Url.Action("QuizPage", "Home", new { @token = Session["TOKEN"], @qNum = (ViewBag.qNum - 1) })" class="btn"><<</a></td>
                    @for (int i = 1; i <= qTotal; i++)
                    {
                        <td>
                            <a href="@Url.Action("QuizPage", "Home", new { @token = Session["TOKEN"], @qNum = (i) })" class="btn btn-default" style="margin:3px;">@i</a>
                        </td>
                    }
                    <td><a href="@Url.Action("QuizPage", "Home", new { @token = Session["TOKEN"], @qNum = (ViewBag.qNum + 1) % (qTotal + 1) })" class="btn">>></a></td>
                    <!--<td><a href="javascript:void(0);" class="btn btn-primary" onclick="submit();">Save . Next >></a></td>-->
                    <td><input type="submit" value="Save . Next >>" class="btn btn-primary"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Question : @(ViewBag.qNum)</h2>
        </div>
    </div>

    <div class="row">
        <p>
            <br />
            @Html.Raw(ViewBag.question)
        </p>
    </div>

    <br />

    <div class="row">
        @for (int i = 0; i < ViewBag.qList.Count; i++)
        {
            string s = Html.Raw(ViewBag.qList[i]).ToString();
            @Html.RadioButton("answer", s) @Html.Raw(ViewBag.qList[i])
            //<input name="userAnswer" type="checkbox" style="margin:5px;" />@Html.Raw(ViewBag.qList[i])
            <br />
        }
    </div>

}

<script>
    var secondsRem = @timeRemain;
    var secondsCount = secondsRem % 60;

    function numFormat(n)
    {
        if (n < 10)
        {
            return '0' + n;
        }
        else
        {
            return n + '';
        }
    }

    function tick()
    {
        document.getElementById('secLeft').innerText = numFormat(secondsCount);
        document.getElementById('minLeft').innerText = numFormat(parseInt(secondsRem / 60));

        var theTicking = setInterval(function () {
            if (secondsCount == 0) {
                    secondsCount = 60;
                }
            if (secondsRem > 0) {
                secondsRem -= 1;
                secondsCount -= 1;
                document.getElementById('secLeft').innerText = numFormat(secondsCount);
                document.getElementById('minLeft').innerText = numFormat(parseInt(secondsRem / 60));
                if (secondsCount == 0) {
                    secondsCount = 60;
                }
            }
            else
            {
                alert('Quiz time has expired');
                clearInterval(theTicking);
            }
        }, 1000);
    }

    tick();
</script>